.hope-ui-light{
  background-image: url("https://cdn.eees.cn/img/p/110.jpg") !important;
  background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position-x:center;
}
.hope-c-PJLV-idrWMwW-css {
        display:none;
    }
.hope-c-iHuheP {
        display:none;
    }
.hope-c-PJLV-ihQbspH-css {
        display:none;
    }